# Created by Vercel CLI
VERCEL=
VERCEL_ENV=
TURBO_REMOTE_ONLY=
TURBO_RUN_SUMMARY=
NX_DAEMON=
VERCEL_URL=
VERCEL_GIT_PROVIDER=
VERCEL_GIT_PREVIOUS_SHA=
VERCEL_GIT_REPO_SLUG=
VERCEL_GIT_REPO_OWNER=
VERCEL_GIT_REPO_ID=
VERCEL_GIT_COMMIT_REF=
VERCEL_GIT_COMMIT_SHA=
VERCEL_GIT_COMMIT_MESSAGE=
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=
VERCEL_GIT_COMMIT_AUTHOR_NAME=
VERCEL_GIT_PULL_REQUEST_ID=
WORDPRESS_API_URL=
NEXT_PUBLIC_WORDPRESS_API_URL=
NEXT_PUBLIC_WORDPRESS_JSON_URL=
WORDPRESS_AUTH_REFRESH_TOKEN=
WORDPRESS_GRAPHQL_SECRET=
SENTRY_DSN=
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_URL=
FACEBOOK_APP_ID=
MAILCHIMP_API_KEY=
MAILCHIMP_AUDIENCE_ID=
MAILCHIMP_API_SERVER=
REVALIDATE_KEY=
ALLOW_REVALIDATE=

SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_CLARITY_PROJECT_ID=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ACCOUNT_ID=
GITHUB_ORG=
APP_NAME=
APP_STAGE=
CERT_ARN=
DOMAIN_NAME=
HOSTED_ZONE_ID=
YOUR_CF_DISTRIBUTION_ID=

NEXT_PUBLIC_ADSENSE_PUB_ID=
NEXT_PUBLIC_ADS_HOST=

# TURSO
TURSO_DB_URL=
TURSO_AUTH_TOKEN=
TURSO_DOLAR_DB_URL=
TURSO_DOLAR_AUTH_TOKEN=
TURSO_HOROSCOPO_DB_URL=
TURSO_HOROSCOPO_AUTH_TOKEN=

# RESEND
RESEND_API_KEY=

# TURNSTILE
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# MOST VISITED
MOST_VISITED_DAYS=

# DIALOGS
NEXT_PUBLIC_FACEBOOK_DIALOG_ENABLED=
NEXT_PUBLIC_WHATSAPP_DIALOG_ENABLED=

# Wordpress
WP_PASSWORD=
WP_USER=

# Tinybird
TINYBIRD_TOKEN=
TINYBIRD_URL=
