# dependencies
/node_modules
/.pnp
.pnp.js

/.yarn

# testing
/coverage

# next.js
/.next/
/out/
/public/sitemap-0.xml

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
.env

#
.idea
/.vscode/*

# ts
/tsconfig.tsbuildinfo

# storybook
storybook-static

# Sentry
.sentryclirc

# Sentry Config File
.env.sentry-build-plugin

.million

# sst
.sst


# open-next
.open-next

# playwright
playwright-report/
test-results/
