@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/googlesans/v27/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)
    format('woff2');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar";
@plugin "@tailwindcss/aspect-ratio";
@plugin "tailwindcss-animate";

.font-serif {
  font-family: var(--font-martel);
}

@import 'tailwindcss';

@theme {
  /* Colors */
  --color-dark-blue: #102039;
  --color-inherit: inherit;
  --color-primary: #1b75bb;
  --color-secondary: #fc8c29;
  --color-transparent: transparent;

  /* Fonts */
  --font-sans: 'Google Sans', 'sans-serif';
  --font-serif: var(--font-martel);
}

@layer components {
  .container {
    width: 100%;
    max-width: 1220px;
  }
}

@layer utilities {
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  .accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}

@variants {
  .scrollbar {
    &.dark {
      scrollbar-color: var(--color-dark-blue) var(--color-inherit);
    }
  }
}
/* sans-serif */
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

::selection {
  background: #e0f2fe;
}

body {
  @apply text-slate-700 antialiased;
}

a {
  @apply duration-300 ease-in-out;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

.active-menu {
  overflow: hidden;
}

.bloque-adv,
.bloque-adv div,
.bloque-adv iframe,
.ad-slot > * {
  @apply mx-auto text-center;
}

.bloque-adv-list {
  @apply -ml-6 w-[calc(100vw_-_1.2rem)] md:ml-auto md:w-auto;
}

.show-mobile {
  @apply lg:hidden;
}

.show-desktop {
  @apply hidden lg:block;
}

.footer ~ .footer {
  @apply hidden;
}

.slides-container {
  scrollbar-width: none;
}

.button {
  @apply bg-primary hover:bg-primary/85 flex gap-2 rounded-lg border px-2 py-1 font-sans text-sm text-white transition-colors duration-150 md:px-3;
}

.slides-container::-webkit-scrollbar {
  display: none;
}
