@import url('../../public/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #e0f2fe;
}

body {
  @apply text-slate-700 antialiased
}

h1, h2, h3, h4, h5, h6 {
  @apply font-sans_medium
}

a:hover {
  @apply text-slate-900
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

.active-menu {
  overflow: hidden;
}

