@import url('../../public/fonts/stylesheet.css');
@import url('../../public/nprogress.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #e0f2fe;
}

body {
  @apply text-slate-700 antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans_medium;
}

a {
  @apply ease-in-out duration-300;
}

a:hover {
  @apply text-slate-900;
}

.scrolling-touch {
  -webkit-overflow-scrolling: touch;
}

.scrolling-auto {
  -webkit-overflow-scrolling: auto;
}

.active-menu {
  overflow: hidden;
}

.bloque-adv,
.bloque-adv div,
.bloque-adv iframe,
.ad-slot > * {
  @apply mx-auto text-center;
}

.bloque-adv-list {
  @apply w-[calc(100vw_-_1.2rem)] md:w-auto -ml-6 md:ml-auto;
}

.show-mobile {
  @apply md:hidden;
}

.show-desktop {
  @apply hidden md:block;
}

.footer ~ .footer {
  @apply hidden;
}
